.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Jost';
  background: #ffffff;

  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px 5px;
    margin: 10px 10px;

    span:nth-of-type(1) {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 2px;
      height: calc(100% - 4px);
      background: linear-gradient(to bottom, #000000 10%, #ffffff 45%, #ffffff 75%, #000000 90%);
    }
  
    span:nth-of-type(2) {
      position: absolute;
      bottom: 2px;
      left: 2px;
      width: calc(100% - 4px);
      height: 2px;
      background: linear-gradient(to right, #000000 10%, #ffffff 25%, #ffffff 55%, #000000 90%);
    }
  
    span:nth-of-type(3) {
      position: absolute;
      top: 2px;
      right: 2px;
      width: 2px;
      height: calc(100% - 4px);
      background: linear-gradient(to bottom, #000000 10%, #ffffff 25%, #ffffff 55%, #000000 90%);
    }
  
    span:nth-of-type(4) {
      position: absolute;
      top: 2px;
      right: 2px;
      width: calc(100% - 4px);
      height: 2px;
      background: linear-gradient(to left, #000000 10%, #ffffff 25%, #ffffff 55%, #000000 90%);
    }
  }

  .media {
    max-width: 1200px;
    height: auto;
    width: 95%;
    
    opacity: 0;
  }

  .title {
    font-size: 35px;
    margin: 20px 0;
    margin-bottom: 5px;
    text-align: center;
  }

  .date {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .media-info-media-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .media-wrapper {
      height: auto;

      &:hover {
        .media {
          transform: none;
          box-shadow: none;
          cursor: default;
        }
      }
    }
  }

  button {
    border: none;
    background: transparent;
    margin-top: 20px;
    font-family: 'Amatic SC';
    font-weight: bold;
    font-size: 24px;
    word-spacing: 5px;
    letter-spacing: 2px;
    color: #c1011c;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.apod-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.media-info-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.explanation {
  max-width: 500px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

#loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1140px) {
  .info-container {
    .logo {
      flex-direction: column;
    }

    .media-info-dash {
      display: none;
    }
  }
}