.image-board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  max-width: 1400px;
  width: calc(100% - 20px);
  padding: 20px 10px;
  margin: 20px 10px 40px 10px;

  span:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #000000 10%, #ffffff 45%, #ffffff 75%, #000000 90%);
  }

  span:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #000000 10%, #ffffff 25%, #ffffff 55%, #000000 90%);
  }

  span:nth-of-type(3) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #000000 10%, #ffffff 25%, #ffffff 55%, #000000 90%);
  }

  span:nth-of-type(4) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #000000 10%, #ffffff 25%, #ffffff 55%, #000000 90%);
  }
}

.image-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 230px;
  padding: 15px 10px;

  .image-loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image {
    height: 200px;
    opacity: 0;
    transition: transform 0.2s ease;
    will-change: transform;
  }

  &:hover {
    .image {
      transform: scale(1.05, 1.05);
      box-shadow: 0 0 5px red;
    }
  }
}

@media screen and (max-width: 600px) {
  .image-board {
    .image-link {
      flex-basis: 100%;
    }
  }
}